services:
  # --- Redis Database ---
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
  
  #Redis Exporter (The Translator)
  redis-exporter:
    image: oliver006/redis_exporter:latest
    container_name: redis_exporter
    environment:
      - REDIS_ADDR=redis://redis:6379
    depends_on:
      - redis
    ports:
      - "9121:9121"

  # --- FastAPI Backend ---
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    env_file: .env
    environment:
      - REDIS_URL=redis://redis:6379/0
    depends_on:
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./app/models:/app/app/models  # Mount your trained models

  # --- Streamlit Frontend ---
  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    env_file: .env
    environment:
      - API_URL=http://api:8000/predict
    depends_on:
      - api
    ports:
      - "8501:8501"

    # --- Monitoring Stack ---
  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    depends_on:
      - api